<div class="container">
  <div class="row">
  <div class="col-md-8 col-sm-8 dark">
    <ul class="breadcrumb">
      <li><a href="#"><i class="fa fa-home fa-lg"></i></a></li>
      <li><a href="#/serie/{{episode.seriesBySeriesid.id}}">{{episode.seriesBySeriesid.title}}</a></li>
      <li class="active">Episode {{episode.number}}</li>
    </ul>
    <h4>{{episode.seriesBySeriesid.title}}</h4>
    <h5>Episode {{episode.number}}</h5>

    <div class="row text-center">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="embed-responsive embed-responsive-16by9 video">
              <IFRAME class="embed-responsive-item" ng-src="{{episode.video | trusted}}" allowfullscreen="true"
                      FRAMEBORDER=5px MARGINWIDTH=5px MARGINHEIGHT=5px SCROLLING=NO></IFRAME>

            </div>
            <div class="col-xs-12 mirror-panel">
              <h5>Video mirrors:</h5>
              <div class="col-xs-4 mirror"><img class="img-responsive" src="http://placehold.it/200x150"></div>
              <div class="col-xs-4 mirror"><img class="img-responsive" src="http://placehold.it/200x150"></div>
              <div class="col-xs-4 mirror"><img class="img-responsive" src="http://placehold.it/200x150"></div>
            </div>
          </div>
          <div class="panel-footer">
            <div class="row">
              <div class="col-xs-6 text-left"><a href="#"><i class="fa fa-angle-double-left"></i> previous</a></div>
              <div class="col-xs-6 text-right"><span><a href="#">next <i
                class="fa fa-angle-double-right"></i></a></span></div>
            </div>
          </div>
        </div>
        <br>

        <p><a class="btn btn-default" href="#/serie/{{episode.seriesBySeriesid.id}}" role="button">See all episodes <i
          class="fa fa-angle-double-right"></i></a></p>
      </div>
    </div>
    <h4>Similar anime</h4>
    <hr>
    <div class="row text-center">
      <div class="col-md-3 col-sm-3 col-xs-6" ng-repeat-start="serie in series | limitTo:8">
        <img ng-src="{{serie.coverimg}}">
        <h5>{{serie.title}}</h5>
        <p><a class="btn btn-default" href="#/serie/{{serie.id}}" role="button">View details <i class="fa fa-angle-double-right"></i></a></p>
      </div>
      <div class="clearfix" ng-if="$index%4==3"></div>
      <div ng-repeat-end=""></div>
    </div>

  </div>

  <div class="col-md-4 col-sm-4">
    <div class="col-sm-12 dark">
      <h4>Latest Anime episodes</h4>
      <hr>
      <div ng-repeat="episode in episodes | limitTo:10">
        <a href="#/episode/{{episode.id}}">{{episode.seriesBySeriesid.title}} - episode {{episode.number}}</a>
        <hr class="hr2">
      </div>
      <br>
      <h4>Popular Series</h4>
      <hr>
      <div ng-repeat="episode in episodes | limitTo:10">
        <a href="#/serie/{{episode.id}}">{{episode.seriesBySeriesid.title}}</a>
        <hr class="hr2">
      </div>
    </div>
  </div>
</div>

</div>